<div class="container-fluid">
  <div class="form-inline">
    <div class="form-group ml-2">
      <label for="latitude" class="sr-only">Latitude</label>
      <input type="text" class="form-control" id="latitude" [(ngModel)]="latitude" placeholder="latitude">
    </div>
    <div class="form-group ml-2">
      <label for="longitude" class="sr-only">Longitude</label>
      <input type="text" class="form-control" id="longitude" [(ngModel)]="longitude" placeholder="longitude">
    </div>
    <div class="form-group ml-2">
      <label for="longitude" class="sr-only">Radius</label>
      <input type="text" class="form-control" id="radius" [(ngModel)]="radius" placeholder="radius">
    </div>
    <button (click)="getVideos()" class="btn btn-primary mx-2">Search</button>
    <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#videoModal">-->
    <button type="button" class="btn btn-primary" (click)="showMapModal()">
      Show location
    </button>
  </div>
  <br>
  <br>
  <div class="row justify-content-center">
    <span *ngIf="!videos.length">No video found!</span>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-8 embed-responsive embed-responsive-16by9">
      <iframe allowfullscreen class="embed-responsive-item ml-2" *ngIf="selectedVideo" [src]="selectedVideo.embeddedLink" frameborder="0">
      </iframe>
    </div>
    <div class="col-sm-4">
      <table class="table table-hover">
        <thead></thead>
        <tbody>
        <tr *ngFor="let v of videos" (click)="changeVideo(v)">
          <td>
            <img [src]="v.snippet.thumbnails.default.url">
          </td>
          <td>
            <span>{{ v.snippet.title }}</span>
          </td>
        </tr>
        </tbody>
      </table>

      <button class="btn btn-outline-primary mr-1" *ngIf="prevPageToken" (click)="changePage('prev')">Previous Page</button>
      <button class="btn btn-outline-primary mr-1" *ngIf="nextPageToken" (click)="changePage('next')">Next Page</button>
    </div>
  </div>




  <!-- Modal -->
  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Location</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body row justify-content-center">
          <div class="agm-wrapper col-sm-12">
            <agm-map [latitude]="+latitude" [longitude]="+longitude" [zoom]="17" style="width: 100%; height: 300px">
              <agm-marker [latitude]="+latitude" [longitude]="+longitude"></agm-marker>
            </agm-map>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
